@use "config/variables" as v;

@media screen and (max-width: 768px) {
    
}
.flex {
    @include v.flex;
}

.min_container {
    @include v.min;
}
.container {
    min-width: 1020px;
    margin: 0 auto;
    width: 79%;
    @media screen and (max-width: 768px) {
        min-width: 1px;
    }
}
.smallest_container {
    @include v.min_min;
}
.bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
br.sp {
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
}
br.pc {
    display: block;
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.pc {
    display: block;
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.sp {
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
}
.non_image {
    background-image: url(../images/common/non_image.jpg);
}
.flex--start {
    justify-content: flex-start;
}
.transition {
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
}
@keyframes hoverRight {
    from {
        left: calc(-100% + 10px);
    }
    to {
        left: calc(100% - 10px);
    }
}

/*-------------------------
    contact
-------------------------*/
