

* {
	margin:0;
	padding:0;
}

/* IE */
main {
    display: block;
}
/*font読み込み*/



button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, p, q, samp,
small, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;

}
html {
  font-size: 0.520835vw;
  overflow: visible; 
}
body {
  font-family:"Cinzel","Noto Serif JP",Arial, "Hiragino Sans",Meiryo,sans-serif;
	font-size: 88%;
	line-height: 1.5;
  font-weight: 400;
  min-width: 1100px;
  color: #2E1616;
	text-align: justify;
  background-color: #fff;
  position: relative;
  overflow: visible; 
}

@media screen and (max-width: 768px) {
    body {
        min-width: 1px;
    }
}

main {
	display: block;
}

p {
}

p img{
	padding:0;
	margin:0;
}

li {
    list-style:none;
}

a.noneOutline {
    outline:none;
}


/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section ,nav{
	display:block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
ul {
	list-style:none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
	quotes:none;
}

a {
	text-decoration:none;
	color:#845b33;
}

a img {
	border:none;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
	border-collapse:collapse;
	border-spacing:0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	padding:0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
	vertical-align:middle;
}

/*画像を縦に並べたときに余白が出てしまわないように*/
img {
    vertical-align:bottom;
}

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}



select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}
input[type="date"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  background-color: #fff;
  height: 36px;
  padding: 8px;
  box-sizing: border-box;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
textarea {
    border: none;
    -webkit-appearance: none;
    max-width: 100%;
  }

  @font-face {
    font-family: 'NotoSansCJKjp';
    font-style: normal;
    font-weight: 900;
    src: url('./../fonts/NotoSansCJKjp-Black.woff') format('woff');
    font-display: swap;
}


