@use "./variables";
@use "./reset";
@use "./mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 87%;
    margin-right: auto;
    margin-left: auto;
}
.container-l {
    width: 92%;
    margin-right: auto;
    margin-left: auto;
}
#page__mv {
    // background-image: url(./../../images/about/about_mv.jpg);
    figure {
        position: relative;
        z-index: 10;
        margin-bottom: 50px;
        img {
            width: 90%;
        }
    }
    margin-bottom: 70px;
    &::before {
        width: 66%;
        position: absolute;
        content: "";
        height: 411px;
        background: #F5F0EA;
        right: 0;
        bottom: -20px
    }
    p {
        font-size: 15px;
        line-height: 2;
        position: relative;
        z-index: 10;
        width: 87%;
    }
}
.challenge {
    padding-bottom: 60px;
    span {
        font-size: 22px;
        line-height: 1.6em;
        position: relative;
        padding: 0px 5px;
        margin-top: -40px;
        z-index: 10;
        &::after {
            content: "";
            width: 60%;
            background-color: #fff;
            height: 90px;
            position: absolute;
            left: 0;
            top: -20px;
            z-index: -10;
        }
    }
    p {
        padding: 0 5px;
        font-size: 12px;
        line-height: 2;
    }
}

.recruiter {
    background-color: #F0F0F0;
    @media screen and (max-width: 768px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    h2 {
        letter-spacing: 0.1em;
        p {
            font-size: 28px;
        }
        span {
            font-size: 12px;
        }
    }
    figure {
        img {
            width: 195px;
            margin-bottom: 20px;
        }
        figcaption {
            p {
                font-size: 15px;
                letter-spacing: 0.15em;
                margin-bottom: 10px;
                span {
                    font-size: 10px;
                }
            }
            ul {
                li {
                    font-size: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.company {
    padding-top: 50px;
    h2 {
        font-size: 28px;
        margin-bottom: 33px;
        letter-spacing: 0.1em;
    }
    dl {
        border-bottom: 1px solid #000;
        padding: 20px 0;
        font-size: 12px;
        dt {
            width: 30%;
        }
        dd {
            width: 70%;
        }
    }
    .map {
        margin-top: 40px;
        padding-bottom: 40px;
        iframe {
            width: 100%;
            margin-bottom: 10px;
        }
        a {
            text-align: right;
            width: 100px;
            margin-left: auto;
            font-size: 10px;
            letter-spacing: 0.03em;
            img {
                display: inline-block;
                padding: 0 3px;
            }
        }
    }
}
