@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* IE */
main {
  display: block;
}

/*font読み込み*/
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, p, q, samp,
small, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 0.520835vw;
  overflow: visible;
}

body {
  font-family: "Cinzel", "Noto Serif JP", Arial, "Hiragino Sans", Meiryo, sans-serif;
  font-size: 88%;
  line-height: 1.5;
  font-weight: 400;
  min-width: 1100px;
  color: #2E1616;
  text-align: justify;
  background-color: #fff;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 1px;
  }
}
main {
  display: block;
}

p img {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a.noneOutline {
  outline: none;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, nav {
  display: block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
ul {
  list-style: none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: #845b33;
}

a img {
  border: none;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  padding: 0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
  vertical-align: middle;
}

/*画像を縦に並べたときに余白が出てしまわないように*/
img {
  vertical-align: bottom;
}

.clearfix:after {
  content: "."; /* 新しい要素を作る */
  display: block; /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*/ /*/
height: auto;
overflow: hidden;
/**/
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit],
input[type=button] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

input[type=date] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  background-color: #fff;
  height: 36px;
  padding: 8px;
  box-sizing: border-box;
}

input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}

input[type=submit]::focus,
input[type=button]::focus {
  outline-offset: -2px;
}

textarea {
  border: none;
  -webkit-appearance: none;
  max-width: 100%;
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/NotoSansCJKjp-Black.woff") format("woff");
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.font {
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
}

/*-------------------------
    共通
-------------------------*/
.bg {
  @apply bg-center bg-no-repeat bg-cover;
}

.read_more {
  width: 202px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  display: block;
  border: 1px solid #000;
  transition: all 0.3s;
}
.read_more:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (min-width: 300px) {
  .mainLeft {
    top: 0;
    left: 0;
    width: calc(100vw - 500px - 281px);
    background: #F0F0F0;
    height: 100vh;
    box-sizing: border-box;
  }
  .mainLeft__inner {
    height: 100vh;
    margin-left: 30rem;
    box-sizing: border-box;
  }
  .mainLeft__inner--content {
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .mainLeft__inner--content .mainLeft__slider strong {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 10;
    line-height: 1.76em;
    letter-spacing: 0.1em;
    font-family: "dnp-shuei-mincho-pr6n", sans-serif;
  }
  .mainLeft__inner--content .mainLeft__slider .swiper {
    width: 69rem;
  }
  /*-------------------------
      メインコンテンツ
  -------------------------*/
  /*-------------------------
  右側コンテンツ
  -------------------------*/
}
@media screen and (min-width: 300px) and (max-width: 1700px) {
  .mainLeft__inner--content .mainLeft__slider .swiper {
    width: 59rem;
  }
}
@media screen and (min-width: 300px) {
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper {
    width: 100%;
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide {
    padding-top: 48rem;
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide:nth-of-type(1) {
    background-image: url(./../../images/top-slide01.jpg);
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide:nth-of-type(2) {
    background-image: url(./../../images/top-slide02.jpg);
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide:nth-of-type(3) {
    background-image: url(./../../images/top-slide03.jpg);
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide:nth-of-type(4) {
    background-image: url(./../../images/top-slide04.jpg);
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide:nth-of-type(5) {
    background-image: url(./../../images/top-slide05.jpg);
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide:nth-of-type(6) {
    background-image: url(./../../images/top-slide06.jpg);
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide:nth-of-type(7) {
    background-image: url(./../../images/top-slide07.jpg);
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide:nth-of-type(8) {
    background-image: url(./../../images/top-slide08.jpg);
  }
  .mainLeft__inner--content .mainLeft__slider .swiper-wrapper .swiper-slide:nth-of-type(9) {
    background-image: url(./../../images/top-slide09.jpg);
  }
  .mainLeft .mainLeft__sns {
    position: absolute;
    bottom: 8%;
    width: 100%;
  }
  .mainLeft .mainLeft__sns span {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 1.7rem;
  }
  .mainLeft .mainLeft__sns ul {
    margin-bottom: 5.7rem;
  }
  .mainLeft .mainLeft__sns ul li {
    padding: 0 1.23rem;
  }
  .mainLeft .mainLeft__sns small {
    text-align: center;
    font-size: 10px;
  }
  .mainCenter {
    width: 500px;
    max-width: 500px;
    height: 300vh;
    margin-left: auto;
    margin-right: 267px;
    position: relative;
    z-index: 10;
    background-color: #fff;
    position: relative;
  }
  .mainCenter #header {
    box-sizing: border-box;
  }
  .mainCenter .fixed__btn {
    bottom: 0;
    left: calc(100vw - 704px);
    position: fixed;
  }
  .mainCenter .fixed__btn img {
    width: 423px;
  }
  .mainCenter #mv figure img {
    width: 95%;
  }
  .mainCenter #whats {
    background-color: #F5F0EA;
    position: relative;
  }
  .mainCenter #whats::before {
    content: "";
    width: 100%;
    height: 290px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mainCenter #whats .container {
    width: 94%;
    position: relative;
    z-index: 10;
  }
  .mainCenter #whats h2 {
    letter-spacing: 0.1em;
  }
  .mainCenter #ourstory {
    background-color: #F5F0EA;
    padding-bottom: 76px;
  }
  .mainCenter #ourstory .intro {
    background-color: #E15B0F;
  }
  .mainCenter #ourstory .intro figure img {
    width: 55%;
  }
  .mainCenter #ourstory .container p.text {
    font-size: 14px;
  }
  .mainCenter #ourstory .container .epi__slider {
    padding-bottom: 20rem;
    position: relative;
  }
  .mainCenter #ourstory .container .epi__slider .swiper-wrapper {
    padding-left: 40px;
  }
  .mainCenter #ourstory .container .epi__slider .epi {
    margin-right: 23px;
  }
  .mainCenter #ourstory .container .epi__slider .epi .epi__text {
    margin-top: -10px;
    padding-left: 25px;
  }
  .mainCenter #ourstory .container .epi__slider .epi .epi__text span {
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
  }
  .mainCenter #ourstory .container .epi__slider .epi .epi__text p {
    font-size: 10px;
  }
  .mainCenter #ourstory .container .navigation {
    position: absolute;
    bottom: 0rem;
    right: 0;
    left: 0;
    margin: auto;
  }
  .mainCenter #ourstory .container .navigation .navigation__wrapper {
    height: 10px;
  }
  .mainCenter #ourstory .container .navigation .navigation__wrapper::after {
    content: "";
    width: 1px;
    height: 20px;
    background: #000;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    top: -7px;
  }
  .mainCenter #ourstory .container .swiper-button-next {
    right: 200px;
  }
  .mainCenter #ourstory .container .swiper-button-next:after {
    background-image: url(./../../images/epi_arrow_next.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";
    width: 15px;
    height: 15px;
  }
  .mainCenter #ourstory .container .swiper-button-prev {
    left: 200px;
  }
  .mainCenter #ourstory .container .swiper-button-prev:after {
    background-image: url(./../../images/epi_arrow_prev.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";
    width: 15px;
    height: 15px;
  }
  .mainCenter #interview {
    margin-top: 63px;
    padding-bottom: 60px;
  }
  .mainCenter #interview strong {
    font-size: 24px;
    font-weight: bold;
  }
  .mainCenter #interview .interview__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mainCenter #interview .interview__wrapper .interview__content {
    width: 245px;
    margin-bottom: 22px;
  }
  .mainCenter #interview .interview__wrapper .interview__content--item .thumb {
    background-image: url(./../../images/interview01.jpg);
    height: 348px;
    margin-bottom: 20px;
  }
  .mainCenter #interview .interview__wrapper .interview__content--item .thumb p {
    display: inline-block;
    line-height: 2em;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    left: 0;
  }
  .mainCenter #interview .interview__wrapper .interview__content--item .thumb p span {
    position: relative;
    display: inline-block;
    padding: 2px 4px;
    background-color: #fff;
    margin-bottom: 8px;
  }
  .mainCenter #interview .interview__wrapper .interview__content--item .text {
    width: 90%;
    font-size: 10px;
    line-height: 2;
  }
  .mainCenter #interview .interview__wrapper .interview__content:nth-of-type(1) {
    width: 100%;
  }
  .mainCenter #interview .interview__wrapper .interview__content:nth-of-type(1) .thumb {
    height: 700px;
  }
  .mainCenter #interview .interview__wrapper .interview__content:nth-of-type(1) .thumb p {
    font-size: 21px;
  }
  .mainCenter #stage {
    background: #F0F0F0;
    padding-bottom: 76px;
  }
  .mainCenter #stage figure.mv {
    margin-bottom: 55px;
  }
  .mainCenter #stage .container {
    width: 86%;
  }
  .mainCenter #stage .container a.read_more {
    width: 402px;
  }
  .mainCenter #stage .container h2 {
    font-size: 19px;
    letter-spacing: 0.1em;
    margin-bottom: 47px;
  }
  .mainCenter #stage .container .stage__content p {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  .mainCenter #stage .container .stage__content figure figcaption .stage__ttl {
    text-align: center;
  }
  .mainCenter #stage .container .stage__content figure figcaption strong {
    text-align: center;
    padding: 0 28px;
    position: relative;
    line-height: 30px;
    font-size: 18px;
  }
  .mainCenter #stage .container .stage__content figure figcaption strong::before {
    content: "";
    background-image: url(./../../images/brackets-left.svg);
    position: absolute;
    left: 0;
    top: -3px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 5px;
    height: 30px;
  }
  .mainCenter #stage .container .stage__content figure figcaption strong::after {
    content: "";
    background-image: url(./../../images/brackets-right.svg);
    position: absolute;
    right: 0;
    top: -3px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 5px;
    height: 30px;
  }
  .mainCenter #stage .container .stage__content figure figcaption span {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .mainCenter .sec {
    padding-top: 64px;
    padding-bottom: 25px;
  }
  .mainCenter .sec h2 {
    text-align: center;
    font-size: 35px;
    line-height: 1;
    margin-bottom: 20px;
  }
  .mainCenter .sec h2 span {
    font-size: 14px;
    font-weight: normal;
  }
  .mainCenter #contact {
    padding-bottom: 76px;
  }
  .mainCenter #news {
    background-color: #EDEAE2;
    padding-top: 67px;
    padding-bottom: 79px;
  }
  .mainCenter #news .container {
    width: 87%;
    border-top: 1px solid #000;
    padding-top: 52px;
  }
  .mainCenter #news .container h2 {
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 44px;
  }
  .mainCenter #news .container h2::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
  }
  .mainCenter #news .container h2 span {
    font-size: 16px;
    letter-spacing: 0.1em;
    background-color: #EDEAE2;
    position: relative;
    z-index: 10;
    padding-right: 45px;
  }
  .mainCenter #news .container h2 a {
    display: block;
    letter-spacing: 0.1em;
    font-weight: bold;
    background-color: #fff;
    font-size: 10px;
    border: 1px solid #000;
    width: 100px;
    padding: 8px;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  .mainCenter #news .news__wrapper {
    width: 74%;
  }
  .mainCenter #news .news__wrapper ul li {
    border-bottom: 1px dashed #000;
    margin-bottom: 23px;
  }
  .mainCenter #news .news__wrapper ul li a {
    color: #000;
  }
  .mainCenter #news .news__wrapper ul li a span {
    font-size: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
    display: block;
  }
  .mainCenter #news .news__wrapper ul li a h3 {
    font-size: 14px;
  }
  .mainCenter .common__slider .bottom__slider {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 54px;
    margin-top: 46px;
    width: 80%;
  }
  .mainCenter .common__slider .bottom__slider .swiper-pagination-bullet {
    background-color: #DBCFC5;
  }
  .mainCenter .common__slider .bottom__slider .swiper-pagination-bullet-active {
    background-color: #fff;
    border: 1px solid #B6C7C7;
  }
  .mainCenter .common__slider img.bottom__text {
    position: absolute;
    right: 19px;
    z-index: 10;
    bottom: 100px;
  }
  .mainCenter #footer {
    background-color: #B6C7C7;
    padding-bottom: 42px;
  }
  .mainCenter #footer .container {
    width: 79%;
  }
  .mainCenter #footer .container h2 {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .mainCenter #footer .container .footer__content ul {
    border-top: 1px solid #000;
    margin-bottom: 76px;
  }
  .mainCenter #footer .container .footer__content ul li {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    padding-left: 49px;
    padding-top: 20px;
  }
  .mainCenter #footer .container .footer__content ul li a {
    width: 50%;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  .mainCenter #footer .container .footer__sns {
    text-align: center;
    margin-top: 60px;
  }
  .mainCenter #footer .container .footer__sns span {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .mainCenter #footer .container .footer__sns ul {
    margin-bottom: 30px;
  }
  .mainCenter #footer .container .footer__sns ul li {
    padding: 0 12px;
  }
  .mainCenter #footer .container .footer__sns small {
    font-size: 10px;
    text-align: center;
  }
  .mainCenter .message {
    padding-top: 90px;
  }
  .mainCenter .message .vertical {
    position: absolute;
    transform: rotate(90deg);
    right: 0;
  }
  .mainCenter .message .vertical span {
    position: relative;
    font-size: 10px;
    font-weight: bold;
  }
  .mainCenter .message .vertical span::before {
    content: "";
    background-color: #000;
    top: 0;
    bottom: 0;
    height: 1px;
    width: 70px;
    position: absolute;
    margin: auto;
    left: -90px;
  }
  .mainCenter .message img.message__text {
    top: 40px;
    left: 50px;
  }
  .mainCenter .message .message__content {
    padding-top: 47px;
    background-color: #F5F0EA;
    padding-bottom: 40px;
  }
  .mainCenter .message .message__content p.message__context {
    font-size: 12px;
    line-height: 2.25em;
    margin-bottom: 30px;
  }
  .mainCenter .message .message__content .message__person {
    width: 50%;
    margin-left: auto;
  }
  .mainCenter .message .message__content .message__person span {
    font-size: 10px;
  }
  .mainCenter .message .message__content .message__person strong {
    font-size: 12px;
    line-height: 2.5em;
  }
  .mainCenter .message .message__content .message__person p {
    font-size: 11px;
  }
  .mainCenter .contact figure {
    margin-bottom: 20px;
  }
  .mainCenter .contact h3.ttl {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .mainCenter .contact h3.ttl span {
    font-size: 10px;
    color: #717171;
    display: block;
    margin-top: 5px;
  }
  .mainCenter .contact p.fonm__text {
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.05em;
  }
  .mainCenter .contact p.fonm__text span {
    display: block;
    font-size: 10px;
    margin-top: 13px;
  }
  .mainCenter .contact .form__wrapper dl {
    margin-top: 45px;
  }
  .mainCenter .contact .form__wrapper dl dt {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .mainCenter .contact .form__wrapper dl dd {
    margin-bottom: 13px;
  }
  .mainCenter .contact .form__wrapper dl dd input, .mainCenter .contact .form__wrapper dl dd textarea {
    padding: 10px;
    background-color: #F4F4F4;
    width: 100%;
    font-size: 14px;
  }
  .mainCenter .contact .form__wrapper .read_more {
    width: 100%;
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-top: 25px;
  }
  .mainCenter .tel__wrapper {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 87%;
    line-height: 1;
    margin-bottom: 40px;
  }
  .mainCenter .tel__wrapper p {
    text-align: center;
    font-size: 11px;
  }
  .mainCenter .tel__wrapper a {
    color: #000;
    font-size: 23px;
    letter-spacing: 0.1em;
    text-align: center;
    display: block;
    margin-top: 18px;
    margin-bottom: 7px;
  }
  .mainCenter .tel__wrapper .tanto {
    margin-top: 20px;
  }
  .mainCenter .tel__wrapper .tanto p {
    font-size: 12px;
    margin-bottom: 13px;
  }
  .mainCenter .tel__wrapper .tanto span {
    font-size: 12px;
    padding: 0 10px;
  }
  .mainCenter .insta-banner {
    width: 87%;
    margin-bottom: 30px;
  }
  .mainCenter .backto {
    padding-bottom: 40px;
  }
  .mainCenter .backto a.backtoTop {
    font-size: 10px;
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    padding: 12px 0;
    letter-spacing: 0.1em;
    margin-bottom: 40px;
  }
  .mainRight {
    width: 267px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #F0F0F0;
    padding-top: 160px;
    box-sizing: border-box;
    padding-left: 60px;
  }
  .mainRight .mainRight__content ul {
    margin-bottom: 45px;
  }
  .mainRight .mainRight__content ul li a {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1em;
  }
  .mainRight .mainRight__content ul li a img {
    margin-right: 29px;
  }
}
/*-------------------------
    共通
-------------------------*//*# sourceMappingURL=main.css.map */