@use "./variables";
@use "./reset";
@use "./mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

#page__mv {
    background-image: url(./../../images/menu/menu_mv.jpg);
}
.menu__ttl {
    p {
        font-size: 10px;
    }
}
.menu__link {
    li {
        border-right: 1px solid #000;
        line-height: 1.2;
        &:last-child {
            border-right: none;
        }
    }
}

.menu__wrapper {
    dl.menu__list {
        background-color: #E3DFDA;
        border-bottom: 1px solid #000;
        &:last-of-type {
            border-bottom: none;
        }
        dt {
            width: 69%;
            p {
                width: 23%;
            }
            span {
                width: 77%;
            }
            &::before {
                content: "";
                width: 20px;
                height: 1px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: #000;
            }
            &::after {
                content: "";
                width: 1px;
                height: 20px;
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: #000;
                opacity: 1;
                transition: all 0.3s;
            }
            &.open {
                &::after {
                    opacity: 0;
                }
            }
        }
        dd {
            background-color: #fff;
            display: none;
            .menu__content {
                width: 48%;
                margin-left: 31%;
                margin-right: 20.8%;
                ul {
                    li {
                        .menu__content--price {
                            width: 33%;
                        }
                    }
                }
            }
        }
    }
    .menu__salon {
        width: 67%;
        border-top: 1px solid #707070;
        .menu__list {
            &::after {
                content: "";
                width: 29.48%;
                display: block;
            }
            &--items {
                width: 29.48%;
                .thumb {
                    padding-top: 24.5rem;
                    background-image: url(./../../images/menu/thumb.jpg);
                }
            }
        }
    }
}